*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bai{
    width: 100%;
    text-align: center;
}
.bai button{
    width:19%;
    background-color: #dc3545;
    border: 1px solid transparent;
    border-radius: 15%;
}
.bai button a {
    color: white;
}